
/* Side-bar Menue */
#sidebar-menu .sidebar-content{
  height: 93vh; /* Full viewport height */
}

.sidebar-menu__links {
  display: flex;
  flex-direction: column;
  flex-grow: 1
}

.sidebar-menu__links a {
  display: block;
  margin-bottom: 20px;
  color: black;
  transition: background-color 0.3s ease;
  padding: 8px
}

.sidebar-menu__links a:last-child {
  margin-top: auto; /* Pushes last link to the bottom */
  background-color: #e3f2fd; /* Subtle background highlight */
  border-radius: 5px; /* Optional: rounded corners */
  font-weight: bold; /* Slight emphasis */
  text-align: center;
}

.sidebar-menu__links a:last-child:hover {
  background-color: #e0e0e0; /* Slightly darker on hover */
}