
/* Side-bar Menue */
#left-sidebar-menu .sidebar-content{
  height: 93vh; /* Full viewport height */
}

.lef-sidebar-menu__links {
  display: flex;
  flex-direction: column;
  flex-grow: 1
}

.left-sidebar-menu__links a {
  display: block;
  margin-bottom: 20px;
  color: black;
  transition: background-color 0.3s ease;
  padding: 8px
}

/*
.left-sidebar-menu__links a:last-child {
  margin-top: auto; 
  background-color: #e3f2fd; 
  border-radius: 5px; 
  font-weight: bold; 
  text-align: center;
}

.left-sidebar-menu__links a:last-child:hover {
  background-color: #e0e0e0; 
}
*/

.main-content {
  margin: 0 auto;
  width: 90%;
  min-width: 500px;
}

.card-title,
.title-data-order{
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.data-title,
.data-order-checkbox{
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.data-order-label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-block: 0px;
}

.vscomp-dropbox-container {
  z-index: 1000 !important;
}

.shp-input-row {
  margin-bottom: -15px !important;
}

.shp-input .form-group.shiny-input-container * {
    padding: 0px !important;
    box-sizing: border-box;
}
.shp-input .form-group.shiny-input-container .btn {
  padding: 3px !important;
}

.shp-input .form-group.shiny-input-container .form-control {
  padding-left: 3px !important;
}

#map_1-erase_shp {
  padding: 0px;
}

#user_data_1-firstname-label,
#user_data_1-lastname-label,
#user_data_1-email-label{
  font-size: 0.9rem;
}
